.start {
    text-align: center;
}

.start #div1 img {
    margin-top: 1.5rem;
}

.start #div2 img {
    cursor: pointer;
    margin-top: 3rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main .image {
    width: 50vw;
}

.main .inputs {
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.main .inputs #div1 {
    text-align: center;
    margin-bottom: 2rem;
}

.main .inputs #div2 {
    margin-bottom: 4rem;
    display: flex;
}

.main .inputs #div2 input {
    text-align: center;
    justify-content: center;
    width: 2.5rem;
    height: 3rem;
    margin-right: 0.9rem;
    margin-bottom: -1rem;
    font-size: 1.6rem;
    background-color: white;
}

.main .inputs .buttons {
    text-align: center;
}

.main .inputs .buttons button {
    font-size: 2rem;
    padding: 5px 13px;
    border-radius: 15px;
    background-color: #f3d611;
    border: 3px solid orangered;
    margin: 0.4rem;
}